<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R.Lab - Create beautiful mockups of your website</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="images/icon.png" type="image/x-icon">
    
</head>
<body>
    <div>
        <div class="container-fluid text-center" style="position: relative; z-index:1030;">
            <div class="row mt-5">
                <div class="ml-5 ml-5 order-lg-1 order-1">
                    <a href="about.html" class="link">About</a>
                </div>
                <div class="col-lg-9 m-auto pt-lg-4 pt-2 order-lg-2 order-3">
                    <a href="index.html"><img src="images/rlab-logo.png" class="img-fluid r-logo" alt="rlab-logo"></a>
                    <p class="r-author">Made with &#10084; by <a href="https://github.com/Meschack" target="outblank">Méschac Irung</a></p>
                </div>
                <div class="ml-lg-0 ml-5 mr-5 order-lg-3 order-2">
                    <a href="contact.html" class="link">Contact</a>
                </div>
            </div>
            <div class="col-lg-6 m-auto">
                <p class="paragraph mt-4">Create beautiful mockups of your website for free, all you need is to type your domain name.</p>
            </div>

            <form action="" class="row m-flex-center mt-4">
                <div>
                    <input id="url2"  type="input" placeholder="www.your website domain here.com" class="r-form form-control">
                </div>
                <button class="d-none" type="submit" onclick="control()">Tapez ici</button>
                <div class="">
                    <a href="" onclick="screenshot()" class="r-btn text-white">&#10004;</a>
                </div>
            </form>

            <p class="text-center mt-3 pb-5" style="position:relative;"><a href="sample.html" class="r-sample">Try a sample</a></p>
        </div>
        
        <div class="r-marg">
            <img id="picture" src="images/mockup-header-pic_1.webp" class="img-fluid" alt="">
        </div>
    </div>

</body>
</html>