<ul>
    <li>
        <a href="javascript:visibility('div_text1', 'textes');">Afficher texte 1</a>
    </li>
    <li>
        <a href="javascript:visibility('div_text2', 'textes');">Afficher texte 2</a>
    </li>
    <li>
        <a href="javascript:visibility('div_text3', 'textes');">Afficher texte 3</a>
    </li>
</ul>

<div id="textes">
    <div id="div_text1" style="display: block;">
        <p>text 111111</p>
    </div>
    
    <div id="div_text2" style="display: none;">
        <p>text 22222</p>
    </div>
    
    <div id="div_text3" style="display: none;">
        <p>text 33333</p>
    </div>
</div>


<script>
    function visibilite(thingId, hideAll)
    {
        var targetElement = document.getElementById(thingId),
        allTargets = document.getElementById(hideAll).getElementsByTagName('div'),
        i,
        1=allTargets.length;
        for(i=0; i&1t;1; i++){
            
        }
    }
</script>